/* -------------------------- dice animation ---------------------- */
@keyframes spin { 100% { transform:rotate(360deg); } }

.animation {
    animation: spin 2s ease;
    transition: 2s
   }

/* -------------------------- pirate animation ---------------------- */
@keyframes moveTo1 { to { left: 256px; top: 419px; } }
@keyframes moveTo2 { to { left: 970px; top: 60px; } } 
@keyframes moveTo3 { to { left: 1853px; top: 418px; } }
@keyframes moveTo4 { to { left: 896px; top: 415px; } }
@keyframes moveTo5 { to { left: 207px; top: 1033px; } }
@keyframes moveTo6 { to { left: 1741px; top: 1094px; } }


.pirateAnim2 {
    animation: moveTo2 2s backwards;
    transition: 2s
   }

.pirateAnim3 {
    animation: moveTo3 2s forwards;
    transition: 2s
   }

.pirateAnim4 {
    animation: moveTo4 2s forwards;
    transition: 2s
   }

.pirateAnim5 {
    animation: moveTo5 2s forwards;
    transition: 2s
   }

.pirateAnim6 {
    animation: moveTo6 2s forwards;
    transition: 2s
   }

